#container {
    width: auto;
    height: 700px;
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    /*padding-top: 30px;*/
}

#header {
    /*background-color: black;*/
    height: 250px;
    width: auto;
    text-align: center;
    position: center;
    /*margin-top: 5px;*/
    /*border-style: solid;
    border-color: #595959;
    border-radius: 100px;*/
    color: white;
    font-family: 'Oswald';
    /*border-width: 7px;*/
    text-shadow: 5px 5px black;
    
}

#counter {
    font-size: 150px;
    height: 125px;
    width: 1200px;
    margin-top: 250px;
    margin-left: 720px;
    text-align: center;
    font-family: 'Oswald';
    color: white;
}

#tgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

