#container {
    width: auto;
    height: 700px;
    /*background-image: url("https://ibb.co/exW8Tb");*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 30px;
}

#header {
    /*background-color: black;*/
    height: 250px;
    width: auto;
    text-align: center;
    font-size: 25px;
    /*margin-top: 5px;*/
    /*border-style: solid;
    border-color: #595959;
    border-radius: 100px;*/
    color: white;
    margin-right: 40%;
    margin-left: 40%;
    font-family: 'Oswald';
    /*border-width: 7px;*/
    text-shadow: 5px 5px black;
    
}

#counter {
    font-size: 150px;
    height: 125px;
    width: 1200px;
    /*background-color: black;*/
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-family: 'Oswald';
    text-align: center;
    color: white;
    /*border-radius: 50%;
    border-color: #595959;
    border-width: 10px;
    border-style: solid;*/
    text-shadow: 5px 5px black;
}

#tgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

